.navItem {
  position: relative;
}

.navPill {
  position: absolute;
  left: 0;
  top: 50%;
  width: 3px;
  height: 0px;
  background: var(--p-primary);
  border-radius: 0 2px 2px 0;
  transform: translateY(-50%);
  transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navText {
  padding-left: 15px;
  transition: padding 0.3s;
}

.containerHover {
  .navPill {
    height: 100%;
  }

  .navText {
    padding-left: 25px;
  }
}
